.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

.button,
.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.button {
  background-color: #333;
  color: #fff;
}

.secondary-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
}

.button:hover,
.secondary-button:hover {
  opacity: 0.8;
}
